.password_wrapper_section{
    padding: 20px 0px 20px 0px;
}
.change_password_wrapper_section{
    padding: 10px 0px 0px 0px;
    width: 100%;
    height: auto;
    float: left;
}
.change_password_header_section{
    width: 100%;
    height: auto;
    float: left;
}
.change_password_header_section h2{
    background: #d0ecfb;
    padding: 10px 0px 10px 10px;
    color: #616161;
    border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -ms-border-radius: 3px 3px 0px 0px;
    -o-border-radius: 3px 3px 0px 0px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.middle_password_wrapper_section{
    width: 100%;
    height: auto;
    float: left;
    background: #ffffff;
    box-shadow: 0 0 2px #cccccc;
    -webkit-box-shadow: 0 0 2px #cccccc;
    -moz-box-shadow: 0 0 2px #cccccc;
    -ms-box-shadow: 0 0 2px #cccccc;
    -o-box-shadow: 0 0 2px #cccccc;
    border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -ms-border-radius: 3px 3px 0px 0px;
    -o-border-radius: 3px 3px 0px 0px;
    padding: 10px;
}
.middle_password_button_section{
    width:100%;
    height: auto;
    float: left;
}
.middle_password_button_section button{
    width:140px;
    height: auto;
    float: left;
}
.middle_password_wrapper_inner_section{
    width: 80%;
    height: auto;
    float: left;
    margin: 0 10%;
}
.user_name_wrapper{
    width:100%;
    height: auto;
    float: left;
    padding: 0 0 11px 0px;
}

.user_name_left_section{
    width: 100%;
    height: auto;
    float: left;
    
}

.user_name_left_section p{
    line-height: 35px;
}

.password_style {
    color: #fff;
    background-color: #0E73A9;
    border-color: #0E73A9;
}