.middle_short_list_com_header{
    width: 100%;
    height: auto;
    float: left;
    padding: 20px 0px;
    background: #fff;
}

.job_apply_body_section{
    width: 100%;
    height: 279px;
    float: left;
    background: #ffffff;
    box-shadow: 0 0 2px #cccccc;
    -webkit-box-shadow: 0 0 2px #cccccc;
    -moz-box-shadow: 0 0 2px #cccccc;
    -ms-box-shadow: 0 0 2px #cccccc;
    -o-box-shadow: 0 0 2px #cccccc;
    border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -ms-border-radius: 3px 3px 0px 0px;
    -o-border-radius: 3px 3px 0px 0px;
}

.short_list_com_page_text_section{
    width: 100%;
    height: auto;
    float: left;
    padding: 10px 0px 0px 0px;
}

