.view_company_wrapper_section{
    width: 100%;
    height: auto;
    float: left;
    padding: 20px 0px;
}

.view_company_wrapper_body_section{
    width: 100%;
    height: auto;
    float: left;
    padding: 10px 0px 0px 0px;
}