#adress_ctg {
  float: left;
}

@charset "UTF-8";


#container {
  width: 980px;
  margin: 0 auto;
}


  
.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clear,.clearfix:after,.container:after,.dropdown-menu>li>a,.form-horizontal .form-group:after,.modal-footer:after,.nav:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after,.slides:after,.tabbable:after,.tagcloud,hr {
  clear: both;
}



.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



@media(min-width:992px) {
  .container {
    max-width: 970px;
  }

}

@media(min-width:1200px) {
  .container {
    max-width: 1170px;
  }

}


@media(max-width:768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #ddd;
  }

}



@media(min-width:768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  


@font-face {
  font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular) format('svg');
}



.row {
  margin-bottom: 20px;
}

.column.alpha,.columns.alpha {
  margin-left: 0;
}

.column.omega,.columns.omega {
  margin-right: 0;
}

.container .one.column,.container .one.columns {
  width: 40px;
}

.container .two.columns {
  width: 100px;
}

.container .three.columns {
  width: 160px;
}

.container .four.columns {
  width: 220px;
}

.container .five.columns {
  width: 280px;
}

.container .six.columns {
  width: 340px;
}

.container .seven.columns {
  width: 400px;
}

.container .eight.columns {
  width: 460px;
}

.container .nine.columns {
  width: 520px;
}

.container .ten.columns {
  width: 580px;
}

.container .eleven.columns {
  width: 640px;
}

.container .twelve.columns {
  width: 700px;
}

.container .thirteen.columns {
  width: 760px;
}

.container .fourteen.columns {
  width: 820px;
}

.container .fifteen.columns {
  width: 880px;
}

.container .one-third.column {
  width: 300px;
}

.container .two-thirds.column {
  width: 620px;
}

.container .one-fifth.column {
  width: 172px;
}

.clear,.clearfix:after,.clearfix:before,.row:after,.row:before {
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}

.container .offset-by-one {
  padding-left: 60px;
}





.container:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after,.clearfix:before,.row:after,.row:before {
  content: '\0020';
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,time,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

h1,li {
  margin-bottom: 14px;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
  font: 13px/20px "Open Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
}

ol,ul {
  margin-bottom: 21px;
}






canvas,img {
  max-width: 100%;
  height: auto;
}




#gallery-1 .gallery-caption {
  margin-left: 0;
}

.widget {
  float: left;
  width: 100%;
  margin: 0 0 20px;
}

.widget h3.title {
  padding-top: 0;
  margin-bottom: 0;
}

.widget_text h3.title {
  margin-bottom: 15px;
}

.widget iframe {
  width: 100%!important;
}

.widget_interio_facebook iframe {
  border: 1px solid #ccc;
  padding-bottom: 10px;
}

.twitter_widget ul.tweet_list {
  float: left;
  list-style: none;
  margin: 10px 5px 0;
}

.twitter_widget ul.tweet_list li {
  float: left;
  margin-bottom: 15px;
}

.twitter_widget ul.tweet_list li a.tweet_avatar {
  float: left;
  margin-right: 10px;
}

.twitter_widget ul.tweet_list li a.tweet_avatar img {
  border: 1px solid #CCC;
  float: left;
  padding: 2px;
}

#wp-calendar tfoot #next,#wp-calendar tfoot #prev {
  padding-top: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.twitter_widget ul.tweet_list li span.tweet_time a {
  color: #999;
  display: block;
  font-size: 10px;
  padding-right: 10px;
  text-align: right;
}









footer.footer {
  background: url('../images/footer_bg.png');
  padding: 20px 0;
}

footer.bottom {
  background: #FFF;
}

footer.bottom .container {
  padding: 10px 0 20px;
}

footer .copyright {
  float: left;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  margin-top: 15px;
}

footer .copyright a {
  text-decoration: none;
  color: #555;
}

footer .copyright a:hover {
  color: #333;
}

footer .gototop {
  margin: 9px auto;
}

footer h3.logo {
  margin: 3px 0 10px;
}

footer h3.logo a {
  display: block;
  width: 112px;
  height: 19px;
  background: url('../images/logo_bottom.png') no-repeat;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

footer h4.title,footer ul li {
  text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

footer h4.title {
  font-size: 15px;
  color: #FFF!important;
  font-weight: 700;
  padding: 7px;
  border: none;
  background: url('../images/footer_separator.png') bottom center repeat-x;
}

footer .widget {
  margin: 0;
  border: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

footer .address,footer .address a,footer p {
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,.6);
  font-size: 13px;
}

footer ul {
  margin-bottom: 10px;
}

footer ul li {
  margin: 0 9px;
  overflow: hidden;
  color: #AAA!important;
}

footer .widget_recent_entries ul li {
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer ul li a {
  font-size: 13px;
  color: #FFF!important;
  text-decoration: none;
  opacity: .65;
  padding-left: 13px;
  background: url('../images/list-style.png') left center no-repeat;
}

footer .tabswrap ul li a,footer .twitter_widget ul.tweet_list li a,footer .widget .recent ul li a,footer ul li.recentcomments a {
  background: 0 0;
}

footer ul li a:hover {
  opacity: 1;
}

footer #wrap_flickr .flickr_badge_image a img {
  width: 55px;
}

footer #wrap_flickr .flickr_badge_image a {
  border: 1px solid #999;
}

footer #wrap_flickr .flickr_badge_image a:hover {
  border: 1px solid #CCC;
}

footer .widget.widget_interio_portfolio {
  border: none;
}

footer .widget .recent-portfolio {
  padding: 5px 0;
  margin-bottom: -5px;
  width: 100%;
}

footer .widget .recent-portfolio ul li {
  margin: 0 5px -3px;
  width: 45%;
  border: none;
}

footer .widget .recent ul li .post-thumbnail a {
  opacity: 1;
  border-color: #AAA;
}

footer .widget .recent-portfolio ul li .post-thumbnail a.mini-thumb img {
  width: 88px;
}

footer .widget .recent-cap {
  font-size: 11px;
  height: 85%;
  padding: 22px 1px 4px;
  width: 90%;
  margin: 5px 0;
}

footer span.date {
  color: #bbb!important;
}

footer .widget.eight:nth-child(n+3),footer .widget.four:nth-child(n+115),footer .widget.one-third:nth-child(n+4),footer .widget.sixteen:nth-child(n+2) {
  display: none;
}

.social ul a,.social ul li {
  display: block;
}

footer .twitter_widget ul.tweet_list {
  margin: 5px 0;
}

footer .twitter_widget ul.tweet_list li {
  margin: 0 5px 15px;
}

footer .twitter_widget ul.tweet_list li a.tweet_avatar {
  padding: 0;
}

footer .recent ul li {
  border-bottom: solid 1px #555;
}

footer .widget_interio_facebook iframe {
  border: none;
}

footer .widget ul.tabs {
  margin-top: -2px;
}

footer .widget .tabswrap {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

footer .widget .tabswrap ul li {
  margin: 0 -1px 0 0;
  border-bottom-color: #555!important;
}

footer .widget .tabswrap ul li a {
  font-size: 11px;
}

footer .recent ul li span.date,footer .widget .tabswrap .panel ul li span.date {
  background: #555;
}

footer .widget .tab a {
  padding: 2px 7px;
}

footer .widget .tab:last-child a {
  padding: 2px 7px;
  width: auto;
  border-radius: 0;
}

footer .widget .tab a.selected {
  padding: 2px 7px;
  border-bottom-color: #333;
}

footer #lang_sel a.lang_sel_sel {
  background-color: transparent;
}

footer .ads a {
  border-color: #AAA;
}

footer .textwidget a {
  color: #FFF!important;
  opacity: 1;
}

footer .textwidget a:hover {
  opacity: 1;
}

.address {
  padding: 0 5px;
  color: #666;
  margin-top: 12px;
}

.address p {
  margin-bottom: 8px;
}

.address a {
  text-decoration: none;
}



footer .address .icon_tel {
  background-position: 0 -1px;
}

footer .address .icon_email {
  background-position: 0 -25px;
}

footer .address .icon_pin {
  background-position: 0 -51px;
}

.social {
  float: right;
  text-align: right;
}

.social ul {
  margin: 0;
}

.social ul li {
  float: left;
  margin: 6px 0 0 4px;
  padding: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.social_icons .icon a {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('../images/social.png') no-repeat;
  opacity: .35;
  margin: 5px 2px;
}

.wpcf7,.wpcf7 p {
  float: left;
  width: 100%;
}





div.wpcf7 img.ajax-loader {
  margin: 12px 0 0 10px!important;
}

div.wpcf7-response-output {
  float: left;
  margin: 5px 0 0!important;
  padding: 6px 12px!important;
  width: 95%;
  background: url('../images/t10.png');
  border-radius: 5px;
}

div.wpcf7-mail-sent-ng,div.wpcf7-validation-errors {
  background-color: #FFE9E9!important;
  border-color: #E99F9F!important;
  color: #b00!important;
  border-width: 1px!important;
}

div.wpcf7-mail-sent-ok {
  background-color: #d8fdc8!important;
  border-color: #69b947!important;
  color: #1a5600!important;
  border-width: 1px!important;
}



blockquote p {
  margin: 0!important;
  padding: 1px 0 1px 20px;
  border-left: 4px solid #eee;
}




.social-icon,a .ibox:before {
  display: block;
  width: 40px;
  height: 40px;
}



.social-icon {
  float: left;
  margin: 0 9px 9px 0;
  text-align: center;
}

.social-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
}




@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {
  .band.title,.band.top-border,.search_button,.search_text {
    background-image: url('../images/main_bg@2x.png');
    background-size: 3px 700px;
  }



  footer.footer {
    background-image: url(../images/footer_top@2x.png),url(../images/footer_bg@2x.png),url(../images/footer_bottom@2x.png);
    background-size: 8px 8px,3px 3px,8px 8px;
  }

  footer.bottom {
    background-image: url(../images/bottom_bg@2x.png);
    background-size: 3px 3px;
  }

  footer h4 {
    background-image: url(../images/footer_separator@2x.png);
    background-size: 1px 3px;
  }

  footer ul li a {
    background-image: url(../images/list-style@2x.png);
    background-size: 6px 12px;
  }

  

}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);





h1.title,h2.title,h3.title,h4.title,h5.title,h6.title {
  border-color: #CCC;
}

a,a:visited {
  text-decoration: none;
  outline: 0;
  color: #666;
}


.latest_news {
  background-color: #D6D6D6;
  line-height: 26px;
  overflow: hidden;
  padding: 0;
  width: 100%;
  border-radius: 4px;
}

.latest_news_title {
  background-color: #C70000;
  color: #FFF;
  float: left;
  padding: 2px 10px;
}

.latest_blog_title {
  background-color: #c70000;
  color: #fff;
  float: right;
  padding: 2px 16px;
}

.latest_blog_title a {
  text-decoration: none;
  color: #fff;
}

.latest_news_news {
  float: left;
  font-size: 16px;
  color: #022179;
  overflow: hidden;
  padding: 2px 10px;
  width: 760px;
}





.social-icon-custome {
  width: 142px;
  margin: 0;
}

.social-icon-custome a {
  width: 142px;
}

.footer_marq {
  background-color: #000000;
}

.footer_marq a {
  color: #ffffff;
}

.footer_marq a:hover {
}

.footer_marq .latest_news_news {
  padding: 2px 20px;
}

footer .gototop a {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  color: #fff;
  display: block;
  font-family: fontello;
  font-size: 21px;
  height: 35px;
  line-height: 29px;
  margin: auto;
  text-align: center;
  width: 35px;
  background-color: #c70000;
}

footer .gototop a:hover {
  color: #ffffff;
}


/* responsive.css  */


/* Tablet Layout: 768px. */


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
  .latest_news {
    display: block;
  }


  


  .container .two.columns {
    width: 100%;
  }

  footer .gototop {
    margin: 20px auto;
  }

  .container .seven.columns {
    text-align: center;
    width: 100%;
  }

  footer .copyright {
    text-align: center;
  }

 

  
}



/* Wide Mobile Layout: 480px. */









