.job_apply_page_wrapper_section{
    width: 100%;
    height: auto;
    float: left;
    padding: 20px 0px;
}

.org_view_header_section{
    width: 100%;
    height: auto;
    float: left;
}

.org_view_header_section h2{
    background: #d0ecfb;
    padding: 10px 0px 10px 10px;
    color: #616161;
    border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -ms-border-radius: 3px 3px 0px 0px;
    -o-border-radius: 3px 3px 0px 0px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.job_apply_page_text_section{
    width: 100%;
    padding: 10px 0px 0px 0px;
    height: auto;
    float: left;
}