{% load static %}
{% static "images" as baseUrl %}


<DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="Indian study information for Bangladeshi students,Study in India,Admission in India,Indian top universities list,Best Indian University,Best Indian education consultant next admission,India student visa for Bangladesh,Indian student admission process for Bangladeshi students,Indian admission fair in Bangladesh,Study in abroad,Indian student visa consultants,India study guideline for Bangladeshi student,India study guideline,Admission & Visa Process for Bangladeshi students,Next admission best Indian education consultants,Indian university admission information for Bangladeshi student,Indian universities admission guide,Best Indian universities admission information for Bangladeshi,Indian universities admission from Bangladesh,India university admission requirements for Bangladeshi,Assam downtown university admission office in Bangladesh">
    <meta name="robots" content="index, follow" />
    <title>Global Star Admission Service</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" >
      

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

 
    <link href="{% static 'asset/css/mystyle.css' %}" rel="stylesheet">

    <!-- Bootstrap -->

    <link href="{% static 'asset/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'asset/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'asset/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'asset/css/university_admission.css' %}" rel="stylesheet">
    <link href="{% static 'asset/css/responsive.css' %}" rel="stylesheet">

    <!-- Top_Side_Slider_CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'asset/css/style.css' %}" />

    <script type="text/javascript" src="{% static 'asset/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/ajax_function.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/source/text_scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/jquery.fittext.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/jquery.lettering.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/jquery.textillate.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/ajaxupload.3.5.js' %}"></script>
    <!-- Counterup_JS -->
    <script type="text/javascript" src="{% static 'asset/js/jquery.counterup.min.js' %}"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script type="text/javascript" src="{% static 'asset/js/waypoints.min.js' %}"></script>

  </head>
  <body>
    <div class="top_header_wrapper_section">
      <!--Top_Header_Section-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="top_header_inner_section">
                <div class="col-md-8 col-sm-7 col-xs-12 col-lg-8">
                  <div class="top_header_section">
                    <ul>
                      <li class="myactive"><a href="#">University</a></li>
                      <li><a class="mytraining" href="">Photo Gallery</a></li>
                      <li><a class="mytraining" href="">Student Gallery</a></li>
                      <li><a class="myemployee" href="">About India</a></li>
                      <li>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            TRAINING
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" id="training_dropdown" aria-labelledby="dropdownMenu1">
                            <li><a href="">Professional Trainng</a></li>
                            <li><a href="">IT Training</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            LATEST INTAKE
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" id="training_dropdown" aria-labelledby="dropdownMenu2">
                            <li><a href=""  target="_blank">Canadian Universities</a></li>
                            <li><a href="" target="_blank">Malaysian Universities</a></li>
                          </ul>
                        </div>
                      </li>

                      <li><a class="mycareer" href="">Career</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 col-sm-5 hidden-xs col-lg-4">
                  <div class="top_header_right_section">
                    <div class="top_header_right_left_widget">
                      <ul>
                        <li id="phone"><a href=""  target="_blank"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                        <li id="youtube"><a href="https://www.youtube.com/channel/UCGCqiNDjxxxxD6mVs2iWlGw" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li id="google_plus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li id="facebook_icon"><a href="https://www.facebook.com/nextadmission/" target="_blank"><i class="fa fa-facebook"  aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="top_header_right_right_widget">
                      <div class="top_header_right_right_inner_widget">
                        <div class="top_header_right_right_inner_left_widget">
                          <p><a href="#">Eng</a></p>
                        </div>
                        <div class="top_header_right_right_inner_right_widget">
                          <p><a href="#">Ban</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End_Top_Header_Section-->
    <div class="menu_wrapper_section">
      <!--Menu_Wrapper_Section-->
      <div class="container">
        <div class="row">
          <div class="menu_inner_section">
            <div class="col-md-4 col-sm-3 hidden-xs col-lg-4">
              <div class="menu_image_section"> 
                <a href="http://www.globalstar.com.bd/"><img src="{% static 'asset/image/GSL_Logo.png'%}" width="105" height="60"/> </a> 
              </div>
            </div>
            <div class="col-md-8 col-sm-9  col-xs-12 col-lg-8">
              <div class="menu_right_section">
                <nav class="navbar navbar-default">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <ul class="nav_menu">
                    <li><a href="#">SIGN IN</a></li>
                    <li><a href="#">CREATE ACCOUNT</a></li>
                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> CONTACT US</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--End_Menu_Wrapper_Section-->


    
              {% block content %}


              
              
              {% endblock %}
              
              
         



  <!------registration javascript code  start  here------------>

  <div class="footer_wrapper_section"><!--Footer_Wrapper_Section-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <div class="footer_left_section">
                <h2>About Us</h2>
                <ul>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Terms & Condition</a></li>
                  <li><a href="#">International Partners</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#" >Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="footer_left_section">
                <h2>Organization</h2>
                <ul>
                  <li><a href="#">Create Account</a></li>
                  <li><a href="#">Career Counseling</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Video Guides</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="footer_left_section">
                <h2>General User</h2>
                <ul>
                  <li><a href="#">Create Account</a></li>
                  <li><a href="#">Service</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Post A Job</a></li>
                </ul>
              </div>
            </div>
            <div class="footer_left_section">
              <h2>Tools & Social Media</h2>
              <ul>
                <li><a href="#">Mobile App</a></li>
                <li><a href="#">GSL </a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Post A Job</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!--End_Footer_Wrapper_Section-->


  <div class="footer_bottom_copyright_section"><!--Footer_Bottom_Section-->
    <div class="container">
      <div class="footer_bottom_inner_section">
        <p>Copyright &copy; 2001-2021. Global Star Limited</p>
      </div>
    </div>
  </div><!--End_Footer_Wrapper_Section-->


  <!-- Include all compiled plugins (below), or include individual files as needed -->


  
  <script type="text/javascript" src="{% static 'asset/js/wowslider.js' %} "></script>
  

</body>
</html>
