{% load static %}


<DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="Indian study information for Bangladeshi students,Study in India,Admission in India,Indian top universities list,Best Indian University,Best Indian education consultant next admission,India student visa for Bangladesh,Indian student admission process for Bangladeshi students,Indian admission fair in Bangladesh,Study in abroad,Indian student visa consultants,India study guideline for Bangladeshi student,India study guideline,Admission & Visa Process for Bangladeshi students,Next admission best Indian education consultants,Indian university admission information for Bangladeshi student,Indian universities admission guide,Best Indian universities admission information for Bangladeshi,Indian universities admission from Bangladesh,India university admission requirements for Bangladeshi,Assam downtown university admission office in Bangladesh">
    <meta name="robots" content="index, follow" />
    <title>Global Star Admission Service</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" >
      

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

 
    <link href="{% static 'asset/css/mystyle.css' %}" rel="stylesheet">

    <!-- Bootstrap -->

    <link href="{% static 'asset/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'asset/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'asset/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'asset/css/university_admission.css' %}" rel="stylesheet">
    <link href="{% static 'asset/css/responsive.css' %}" rel="stylesheet">

    <!-- Top_Side_Slider_CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'asset/css/style.css' %}" />

    <script type="text/javascript" src="{% static 'asset/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/ajax_function.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/source/text_scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/jquery.fittext.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/jquery.lettering.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/jquery.textillate.js' %}"></script>
    <script type="text/javascript" src="{% static 'asset/js/ajaxupload.3.5.js' %}"></script>
    <!-- Counterup_JS -->
    <script type="text/javascript" src="{% static 'asset/js/jquery.counterup.min.js' %}"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script type="text/javascript" src="{% static 'asset/js/waypoints.min.js' %}"></script>

  </head>
  <body>
    <div class="top_header_wrapper_section">
      <!--Top_Header_Section-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="top_header_inner_section">
                <div class="col-md-8 col-sm-7 col-xs-12 col-lg-8">
                  <div class="top_header_section">
                    <ul>
                      <li class="myactive"><a href="#">University</a></li>
                      <li><a class="mytraining" href="">Photo Gallery</a></li>
                      <li><a class="mytraining" href="">Student Gallery</a></li>
                      <li><a class="myemployee" href="">About India</a></li>
                      <li>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            TRAINING
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" id="training_dropdown" aria-labelledby="dropdownMenu1">
                            <li><a href="">Professional Trainng</a></li>
                            <li><a href="">IT Training</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            LATEST INTAKE
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" id="training_dropdown" aria-labelledby="dropdownMenu2">
                            <li><a href=""  target="_blank">Canadian Universities</a></li>
                            <li><a href="" target="_blank">Malaysian Universities</a></li>
                          </ul>
                        </div>
                      </li>

                      <li><a class="mycareer" href="">Career</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 col-sm-5 hidden-xs col-lg-4">
                  <div class="top_header_right_section">
                    <div class="top_header_right_left_widget">
                      <ul>
                        <li id="phone"><a href=""  target="_blank"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                        <li id="youtube"><a href="https://www.youtube.com/channel/UCGCqiNDjxxxxD6mVs2iWlGw" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li id="google_plus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li id="facebook_icon"><a href="https://www.facebook.com/nextadmission/" target="_blank"><i class="fa fa-facebook"  aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                    <div class="top_header_right_right_widget">
                      <div class="top_header_right_right_inner_widget">
                        <div class="top_header_right_right_inner_left_widget">
                          <p><a href="#">Eng</a></p>
                        </div>
                        <div class="top_header_right_right_inner_right_widget">
                          <p><a href="#">Ban</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End_Top_Header_Section-->
    <div class="menu_wrapper_section">
      <!--Menu_Wrapper_Section-->
      <div class="container">
        <div class="row">
          <div class="menu_inner_section">
            <div class="col-md-4 col-sm-3 hidden-xs col-lg-4">
              <div class="menu_image_section"> 
                <a href="http://www.globalstar.com.bd/"><img src="{% static 'asset/image/GSL_Logo.png'%}" width="105" height="60"/> </a> 
              </div>
            </div>
            <div class="col-md-8 col-sm-9  col-xs-12 col-lg-8">
              <div class="menu_right_section">
                <nav class="navbar navbar-default">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <ul class="nav_menu">
                    <li><a href="#">SIGN IN</a></li>
                    <li><a href="#">CREATE ACCOUNT</a></li>
                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> CONTACT US</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--End_Menu_Wrapper_Section-->

    <div class="slider_wrapper_section" style="background-image:url({% static 'asset/image/nextadmission_slider.jpg'%})">
      <!--slider_Wrapper_Section-->
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <div class="row">
              <div class="col-md-9">
                <div class="slider_header_section">

                  <div class="searching_section">
                    <div class="searching_inner_section">
                      <div class="searching_search_middle_section">
                        <div class="inner-addon2 keyword-search">
                          <i class="fa fa-briefcase" aria-hidden="true"></i>
                          <select class="form-control" id="country_id_chnge" name="country_id"  tabindex="1">
                            <div class="form-control" placeholder="Organized Type" aria-describedby="basic-addon1">
                            </div>
                            <option value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Country</option>
                          </select>
                        </div>
                      </div>
                      <form id="searchForm" action="" method="post" enctype="multipart/form-data">
                        <div class="home_searching_search_left_section">
                          <div class="inner-addon keyword-search"> <i class="fa fa-tag" aria-hidden="true"></i>
                            <input type="text" name="search_all" id="search_all" class="form-control" placeholder="Search by keyword" aria-describedby="basic-addon1">
                          </div>
                        </div>
                        <div class="submit_section">
                          <input type="submit" class="btn btn-success color_btn" value="Search" >
                        </div>
                      </form>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-12">
                      <div class="searching_bottom_wrapper_sectiom">
                        <div class="searching_bottom_inner_wrapper_section">
                          <div class="col-md-4">
                            <div class="countriwise_header_section">
                              <h2>CURRENT INTAKE</h2>
                            </div>
                            <div class="all_division_widget">
                              <a href="" class="link_design">India</a>
                              <a href="" class="link_design">China</a>
                              <a href="" class="link_design">Poland</a>
                              <a href="" class="link_design">UK</a>
                              <a href="" class="link_design">Canada</a>
                              <a href="" class="link_design">Malaysia</a>
                              <a href="" class="link_design">USA (20)</a>
                              <a href="" class="link_design">Bangladesh</a>
                            </div>
                          </div>
                          <div class="col-md-4">
                           <div class="countriwise_header_section">
                            <h2>QUICK LINKS</h2>
                          </div>
                          <div class="quick_link_widget">
                            <div class="quick_link_left_widget">
                              <ul>
                                <li><a href="https://www.acu.ac.uk/" target="_blank" class="quick_link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> ACU Members </a></li>
                                <li><a href="http://www.whed.net/home.php" target="_blank" class="quick_link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> IAU</a></li>
                                <li><a href="http://www.un.org/" target="_blank" class="quick_link"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                UN</a></li>
                              </ul>
                            </div>
                            <div class="quick_link_right_widget">
                              <ul>
                               <li id="link_active"><a href="http://www.embassyworld.org/" target="_blank" class="quick_link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Embassy World </a></li>
                               <li><a href="http://www.naac.gov.in/" target="_blank" class="quick_link"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                               NAAC</a></li>
                               <li><a href="https://www.nasa.gov/" target="_blank" class="quick_link"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                               NASA</a></li>
                             </ul>
                           </div>
                         </div>
                       </div>
                       <div class="col-md-4">
                        <div class="live_job_left_section">
                          <div class="live_job_wrapper_section">
                            <div class="live_job_icon_wrapper">
                              <div class="live_job_icon_section">
                                <div class="live_job_icon_inner_section">
                                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                            <div class="live_job_text_wrapper_section">
                              <div class="live_job_top_wrapper">
                                <h6>Scholarship</h6>
                              </div>
                              <div class="live_job_bottom_text_section">
                                <h2 class="counter">200</h2>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="live_job_left_section">
                          <div class="live_job_wrapper_section">
                            <div class="live_job_icon_wrapper">
                              <div class="live_job_icon_section">
                                <div class="live_job_icon_inner_section">
                                  <i class="fa fa-building-o" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                            <div class="live_job_text_wrapper_section">
                              <div class="live_job_top_wrapper">
                                <h6>Subjects</h6>
                              </div>
                              <div class="live_job_bottom_text_section">
                                <h2 class="counter">200</h2>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="live_job_left_section">
                          <div class="live_job_wrapper_section">
                            <div class="live_job_icon_wrapper">
                              <div class="live_job_icon_section">
                                <div class="live_job_icon_inner_section">
                                  <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                            <div class="live_job_text_wrapper_section">
                              <div class="live_job_top_wrapper">
                                <h6>Visitors</h6>
                              </div>
                              <div class="live_job_bottom_text_section">
                                <h2 class="counter">2000</h2>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="divisional_job_section">
             <div class="all_university_admission">
              <div id="wowslider-container1">
                <div class="ws_images"><ul>
                 <li><img src="{% static 'asset/certificate/untitled1.jpg' %}" alt="Untitled-1" title="Untitled-1" id="wows1_0"/></li>
                 <li><img src="{% static 'asset/certificate/untitled2.jpg' %}" alt="Untitled-2" title="Untitled-2" id="wows1_1"/></li>
                 <li><img src="{% static 'asset/certificate/untitled3.jpg' %}" alt="Untitled-3" title="Untitled-3" id="wows1_2"/></li>
                 <li><img src="{% static 'asset/certificate/untitled4.jpg' %}" alt="Untitled-4" title="Untitled-4" id="wows1_3"/></li>
                 <li><img src="{% static 'asset/certificate/untitled5.jpg' %}" alt="Untitled-5" title="Untitled-5" id="wows1_4"/></li>
                 <li><img src="{% static 'asset/certificate/untitled6.jpg' %}" alt="Untitled-6" title="Untitled-6" id="wows1_5"/></li>
                 <li><img src="{% static 'asset/certificate/untitled7.jpg' %}" alt="Untitled-7" title="Untitled-7" id="wows1_6"/></li>
                 <li><img src="{% static 'asset/certificate/untitled8.jpg' %}" alt="Untitled-8" title="Untitled-8" id="wows1_7"/></li>
                 <li><img src="{% static 'asset/certificate/untitled9.jpg' %}" alt="Untitled-9" title="Untitled-9" id="wows1_8"/></li>
                 <li><img src="{% static 'asset/certificate/untitled10.jpg' %}" alt="Untitled-10" title="Untitled-10" id="wows1_9"/></li>
                 <li><img src="{% static 'asset/certificate/untitled11.jpg' %}" alt="Untitled-11" title="Untitled-11" id="wows1_10"/></li>
                 <li><img src="{% static 'asset/certificate/untitled12.jpg' %}" alt="Untitled-12" title="Untitled-12" id="wows1_11"/></li>
                 <li><img src="{% static 'asset/certificate/untitled13.jpg' %}" alt="Untitled-13" title="Untitled-13" id="wows1_12"/></li>
                 <li><img src="{% static 'asset/certificate/untitled14.jpg' %}" alt="Untitled-14" title="Untitled-14" id="wows1_13"/></li>
                 <li><img src="{% static 'asset/certificate/untitled15.jpg' %}" alt="Untitled-15" title="Untitled-15" id="wows1_14"/></li>
                 <li><img src="{% static 'asset/certificate/untitled16.jpg' %}" alt="Untitled-16" title="Untitled-16" id="wows1_15"/></li>
                 <li><img src="{% static 'asset/certificate/untitled17.jpg' %}" alt="Untitled-17" title="Untitled-17" id="wows1_16"/></li>
                 <li><img src="{% static 'asset/certificate/untitled18.jpg' %}" alt="Untitled-18" title="Untitled-18" id="wows1_17"/></li>
                 <li><img src="{% static 'asset/certificate/untitled19.jpg' %}" alt="Untitled-19" title="Untitled-19" id="wows1_18"/></li>
                 <li><img src="{% static 'asset/certificate/untitled20.jpg' %}" alt="Untitled-20" title="Untitled-20" id="wows1_19"/></li>
                 <li><img src="{% static 'asset/certificate/untitled21.jpg' %}" alt="Untitled-21" title="Untitled-21" id="wows1_20"/></li>
                 <li><img src="{% static 'asset/certificate/untitled22.jpg' %}" alt="Untitled-22" title="Untitled-22" id="wows1_21"/></li>
                 <li><a href="#"><img src="{% static 'asset/certificate/untitled23.jpg' %}" alt="bootstrap slider" title="Untitled-23" id="wows1_22"/></a></li>
                 <li><img src="{% static 'asset/certificate/untitled24.jpg' %}" alt="Untitled-24" title="Untitled-24" id="wows1_23"/></li>
               </ul>
             </div>
             <div class="ws_script" style="position:absolute;left:-99%"><a href="#">wowslider</a></div>
             <div class="ws_shadow">

             </div>
           </div>                    

         </div>

         <a target="_blank" href="">View All Certificates</a>
       </div>

     </div>
   </div>
 </div>
</div>
</div>
</div>
<!--End_Slider_Wrapper_Section-->
<div class="browse_category_section"><!--Browse_Category_Section-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9">
            <div class="browse_category_wrapper_left_section">
              <div class="browse_category_top_header_widget">
                <div class="browse_category_top_left_section">
                  <div class="categorytitle">
                    <span>&nbsp;KG-10 class-Diploma-Bachelors-Masters-Phd</span>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <ul class="category">
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="category">
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="category">
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Management/Marketing/Accounting</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="govt_job_wrapper_section">
              <!-- <h4><i class="fa fa-globe" aria-hidden="true"></i> Scholarship</h4> -->



              <div class="govt_job_caurousal">
                <div class="slidingDiv">
                  <a  href="#" target="_blank">
                    <h2 class="carousal_header4" >
                      
                      <span style="font-size: 10px;color:#A2A29A;">
                      </span></h2>
                    </a>
                  </div>
                </div>
                <h2><a href=""> <img  src="{% static 'asset/image/add4.jpg'%}"> </a></h2>
              </div>
              <div class="special_job_wrapper_section">
                <h4><i class="fa fa-briefcase" aria-hidden="true"></i> Tuition Waiver</h4>
                <div class="govt_job_caurousal">
                  <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" id="waiver_left_sidebar">

                      <div class=""  id="govt_job_list" >
                        <a href="" target="_blank">
                          <h2 class="carousal_header">India University</h2>
                        </a>
                        <span class="carousal_header"> Dellhi</span>
                      </div>

                    </div>

                    <div class="right_arrow2 show_hide2">
                     <img  src="{% static 'asset/image/chevron-down.png' %}"  alt="#"  />
                   </div>

                   <div class="slidingDiv2">
                    <div id="govt_job_list">
                      <a href="" target="_blank"><h2 class="carousal_header4" > <span style="font-size: 10px;color:#A2A29A;"></span></h2></a>
                    </div>

                  </div>



                  <!-- Controls -->
                  <div class="caurosal_arrow_right">
                    <a href="#carousel-example-generic2" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a href="#carousel-example-generic2" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--End_Browse_Category_Section-->
<!--End_Browse_Category_Section-->
<div class="hot_job_section" >
  <!--Hot_Job_Section-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hot_job_wrapper_section">
          <h2><i class="glyphicon glyphicon-fire" aria-hidden="true"></i> Hot <span>Universities</span></h2>
          <div class="all_jobs_section" id="searchOrganization">

            <!-- Row Star From Hear-->
            <div class="col-md-4 col-sm-4 col-xs-12 border_right pr">
              <div class="hot_job_company">
                <div class="company_logo">
                  <a href="">
                    <img src="{% static 'asset/image/canada.png' %}" class="" width="48" height="48"/>
                  </a>
                </div>
                <div class="company_details">
                  <h5><a href="">Columbia University</a></h5>
                  <ul>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Organization User</li><br />
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> United States</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row End-->

            <!-- Row Star From Hear-->
            <div class="col-md-4 col-sm-4 col-xs-12 border_right pr">
              <div class="hot_job_company">
                <div class="company_logo">
                  <a href="">
                    <img src="{% static 'asset/image/canada.png' %}" class="" width="48" height="48"/>
                  </a>
                </div>
                <div class="company_details">
                  <h5><a href="">Columbia University</a></h5>
                  <ul>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Organization User</li><br />
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> United States</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row End-->

            <!-- Row Star From Hear-->
            <div class="col-md-4 col-sm-4 col-xs-12 border_right pr">
              <div class="hot_job_company">
                <div class="company_logo">
                  <a href="">
                    <img src="{% static 'asset/image/canada.png'%} " class="" width="48" height="48"/>
                  </a>
                </div>
                <div class="company_details">
                  <h5><a href="">Columbia University</a></h5>
                  <ul>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Organization User</li><br />
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> United States</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row End-->

            <!-- Row Star From Hear-->
            <div class="col-md-4 col-sm-4 col-xs-12 border_right pr">
              <div class="hot_job_company">
                <div class="company_logo">
                  <a href="">
                    <img src="{% static 'asset/image/canada.png' %}" class="" width="48" height="48"/>
                  </a>
                </div>
                <div class="company_details">
                  <h5><a href="">Columbia University</a></h5>
                  <ul>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Organization User</li><br />
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> United States</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row End-->
            <!-- Row Star From Hear-->
            <div class="col-md-4 col-sm-4 col-xs-12 border_right pr">
              <div class="hot_job_company">
                <div class="company_logo">
                  <a href="">
                    <img src="{% static 'asset/image/canada.png'%}" class="" width="48" height="48"/>
                  </a>
                </div>
                <div class="company_details">
                  <h5><a href="">Columbia University</a></h5>
                  <ul>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Organization User</li><br />
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> United States</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row End-->
            
            <!-- Row Star From Hear-->
            <div class="col-md-4 col-sm-4 col-xs-12 border_right pr">
              <div class="hot_job_company">
                <div class="company_logo">
                  <a href="">
                    <img src="{% static 'asset/image/canada.png' %}" class="" width="48" height="48"/>
                  </a>
                </div>
                <div class="company_details">
                  <h5><a href="">Columbia University</a></h5>
                  <ul>
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> Organization User</li><br />
                    <li><i class="fa fa-caret-right" aria-hidden="true"></i> United States</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Row End-->

          </div>   
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!--End_Hot_Job_Section-->
<div class="bottom_slider_section">
  <h2 align="center">ASSOCIATED <b style="color:#2F64A3"> WITH</b></h2>
  <!--Bottom_Slider_Section-->
  <div class="fluid-container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active"> <img  src="{% static 'asset/slider/4.jpg' %}"  alt="#" />
          <div class="carousel-caption">
            <!-- <h2>Develop Yourself for better career</h2> -->
          </div>
        </div>
        <div class="item"> <img  src="{% static 'asset/slider/6.jpg' %}"  alt="#" />
          <div class="carousel-caption">
            <!-- <h2>Develop Yourself for better career</h2> -->
          </div>
        </div>
        <div class="item"> <img  src="{% static 'asset/slider/7.jpg' %}"  alt="#" />
          <div class="carousel-caption">
            <!-- <h2>Develop Yourself for better career</h2> -->
          </div>
        </div>
        <div class="item"> <img  src="{% static 'asset/slider/8.jpg' %}"  alt="#" />
          <div class="carousel-caption">
            <!-- <h2>Develop Yourself for better career</h2> -->
          </div>
        </div>
        <div class="item"> <img  src="{% static 'asset/slider/9.jpg' %}"  alt="#" />
          <div class="carousel-caption">
            <!-- <h2>Develop Yourself for better career</h2> -->
          </div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> 
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
       <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">

      </span> <span class="sr-only">Next</span> </a> </div>
    </div>
  </div>


  <!------registration javascript code  start  here------------>

  <div class="footer_wrapper_section"><!--Footer_Wrapper_Section-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <div class="footer_left_section">
                <h2>About Us</h2>
                <ul>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Terms & Condition</a></li>
                  <li><a href="#">International Partners</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#" >Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="footer_left_section">
                <h2>Organization</h2>
                <ul>
                  <li><a href="#">Create Account</a></li>
                  <li><a href="#">Career Counseling</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Video Guides</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="footer_left_section">
                <h2>General User</h2>
                <ul>
                  <li><a href="#">Create Account</a></li>
                  <li><a href="#">Service</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Post A Job</a></li>
                </ul>
              </div>
            </div>
            <div class="footer_left_section">
              <h2>Tools & Social Media</h2>
              <ul>
                <li><a href="#">Mobile App</a></li>
                <li><a href="#">GSL </a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Post A Job</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div><!--End_Footer_Wrapper_Section-->


  <div class="footer_bottom_copyright_section"><!--Footer_Bottom_Section-->
    <div class="container">
      <div class="footer_bottom_inner_section">
        <p>Copyright &copy; 2001-2021. Global Star Limited</p>
      </div>
    </div>
  </div><!--End_Footer_Wrapper_Section-->


  <!-- Include all compiled plugins (below), or include individual files as needed -->


  
  <script type="text/javascript" src="{% static 'asset/js/wowslider.js' %} "></script>
  

</body>
</html>
