
/**********************************************
*
*
*
* All Indian Universities
*
*
*
***********************************************/

@font-face {
    font-family: 'SolaimanLipi'; /*a name to be used later*/
    src: url('../fonts/SolaimanLipi.ttf'); /*URL to font*/
}

.indian_university_heading_section{width:100%;height: auto;float: left;padding: 0 0 20px 0px;}
.indian_university_heading_section h2{font-size: 50px;font-family: 'SolaimanLipi';color: #017EC9;text-shadow: 0 2px 1px #B26700;text-align:left;}
.indian_university_heading_section â€h2 a{color:#00B233;text-decoration: none;}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color:#F8F9FA;color:#00000;
}

.table-bordered {
    border: 1px solid #b3b3b3;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #b3b3b3;
}
.table-bordered>tbody>tr>td:last-child, .table-bordered>tbody>tr>th:last-child, .table-bordered>tfoot>tr>td:last-child, .table-bordered>tfoot>tr>th:last-child, .table-bordered>thead>tr>td:last-child, .table-bordered>thead>tr>th:last-child {
    border-left: 0px solid #b3b3b3;
}

.sorting_1 a{color:#000000;}
.indian_quick_link_widget{width: 300px;height: auto;float:right;background: #047EC7;padding:10px;box-shadow: 0 1px 2px #B26700;-moz-box-shadow: 0 1px 2px #B26700;-ms-box-shadow: 0 1px 2px #B26700;-o-box-shadow: 0 1px 2px #B26700;-webkit-box-shadow: 0 1px 2px #B26700;}
.indian_quick_link_widget a{color: #ffffff;text-decoration: none;font-size: 11px;}
.indian_quick_link_left_widget{width:50%;height: auto;float: left;}
.indian_quick_link_right_widget{width:50%;height: auto;float: left;}
.indian_quick_link_left_widget a{width:100%;height: auto;float: left;}
.indian_quick_link_left_widget a:hover{color:#FF9300;}
.indian_quick_link_right_widget a{width:100%;height: auto;float: left;}
.indian_quick_link_right_widget a:hover{color:#FF9300;}

.about_china_wrapper_section{width: 100%;height:auto;float: left;background:#ffffff;box-shadow: 0 0 8px rgba(58, 51, 46, 0.26);-moz-box-shadow: 0 0 8px rgba(58, 51, 46, 0.26);-ms-box-shadow: 0 0 8px rgba(58, 51, 46, 0.26);-o-box-shadow: 0 0 8px rgba(58, 51, 46, 0.26);-webkit-box-shadow: 0 0 8px rgba(58, 51, 46, 0.26);margin: 0px 0px 0px 0px;padding: 10px 5px;}
.comment_box_widget{width: 100%;height: auto;float: left;border:1px solid #dddddd;border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;-webkit-border-radius: 4px;padding: 0px;margin: 0px 0px 10px 0px;}
.comment_box_section{width: 100%;height: auto;float: left;margin:20px 20px 10px 0px;border: 1px solid #dddddd;padding: 13px;}
.comment_header{background: #ededed;padding: 5px 0px 5px 10px;}
.comment_body{padding: 10px;text-align: justify;}
.comment_system_wrapper{padding: 0 10px 0px 10px;}

p#uni_name{margin-top:-50px;color: #000;font-size: 20px;width:160px;text-align: center;}
p#uni_rank{margin-top:-50px;color: #000;font-size: 20px;width:50px;text-align: center;}
p#city_name{margin-top:-50px;color: #000;font-size: 20px;width:70px;text-align: center;}
p#top_ranking{color: #000;font-size: 20px;width:auto;text-align: center;}
p#scho_range{margin-top:-50px;color: #000;font-size: 20px;width:120px;text-align: center;}
p#type_name{margin-top:-50px;color: #000;font-size: 20px;width:50px;text-align: center;}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
    position: absolute;
    top: 50%;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
}