{% extends "ebase.html" %}
{% load static %}
{% static "images" as baseUrl %}



{% block content %}


<!-- End Header -->
<div class="shell" style="border-top:#003366 10px solid;"></div>
<div id="main" style="min-height:420px;">
	<div class="shell">
    	<h2>About Us</h2>	
    
        <p><span style="font-size: small; text-align: justify;">&nbsp;</span><span style="font-size: small;">It is our sincere endeavor to become one of the most reliable and trust worthy <span style="font-size: small;">organizations </span><span style="font-size: small;">in </span>Bangladesh.</span><span style="font-size: small;"><br /></span></p>
<p><span style="font-size: small;">Our strength is state of the art office with all the latest technology, Internet, Tele Video&nbsp; Conferencing facility, 24 hours contact number.</span></p>
<p><span style="font-size: small;">We are well equipped&nbsp;with&nbsp;vast database&nbsp;for&nbsp;all categories of manpower.</span><span style="font-size: small;"><br /></span></p>
<p><span style="font-size: small;">Our managerial and technical staff is well-trained, time tested and highly efficient to handle all aspects of recruitment / head hunting, screening, validating /. Innovative&nbsp;interview techniques help&nbsp;recriut the right candidate for a right job. <br /></span></p>
<p><span style="font-size: small;">Expertise&nbsp;in Visa / Emigration &amp; Documentation.</span></p>
<p><span style="font-size: small;">We have&nbsp;own trade test center and engage other facilities with certified TPI Agencies <span style="font-size: small;">when required</span>.</span></p>
<p><span style="font-size: small;">We ensure clients&nbsp;maximum satisfaction at minimum cost and efforts.&nbsp; <br /></span></p>
<p><span style="font-size: small;"><br /></span></p>
<p style="text-align: justify;"><strong><span style="font-size: small; color: #ff0000;"> From the Managing Director's Desk&nbsp; <br /></span></strong></p>
<p style="text-align: justify;"><strong><span style="font-size: small; color: #ff0000;"><br /></span></strong></p>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><span style="color: #993399; font-size: small;">Dear Visitor,&nbsp;</span></div>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><span style="color: #993399; font-size: small;">Thank you for visiting&nbsp; our website. <br /></span></div>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><span style="color: #993399; font-size: small;">Global  Star&nbsp; was&nbsp; set up in 2001 with a vision to attain leadership in  overseas recruitment consultancy. We strive to achieve the successful partnership with our Clients and Candidates&nbsp; so called&nbsp; success  through people.<br /></span></div>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><span style="color: #993399; font-size: small;">Bangladesh is small and overcrowded country but we have the most beautiful  Sundargaon tigers on the earth, the only jute in the world, the  wonderful climate with the sweetest pineapples, great Bengali cuisine  and friendly, welcoming people.&nbsp;<br /></span></div>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><span style="color: #993399; font-size: small;">In  addition, we have many talented personalitie in business and our  company is just an example of such people with enthusiasm,  professionalism and modesty. I am proud of my co-workers and thank them  for their persistence.<br /></span></div>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><span style="color: #993399; font-size: small;">Our  mission is to promote&nbsp; native engineers, technicians and&nbsp; civil  workers, each of them has own life goals and dreams focused on the  prosperity of the family or loved ones and personal development. In this  sense I wish to ask the esteemed Employers from wealthy </span><span style="color: #993399; font-size: small;">countries  of The Middle East and Europe to treat Employees from Bangladesh&nbsp;  kindly. They&nbsp; will&nbsp; certainly&nbsp; do their best&nbsp; to your satisfaction.&nbsp;</span></div>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><span style="color: #993399; font-size: small;">Our vision is that our recruited workers and students sooner or later will become the&nbsp; citizens of the world.</span></div>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><span style="color: #993399; font-size: small;">At the end I would like to call for support for WWF on behalf of threatened animals on the earth. Lets stop<span style="font-family: Arial;">&nbsp;the degradation of the planet's natural environment and build a future in which humans live in harmony with nature.&nbsp;</span></span></div>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><span style="color: #993399; font-family: Arial; font-size: small;">The  Bengal tiger is the national animal of Bangladesh. It  is listed as endangered on the IUCN Red List since 2008 .2411 live  only - their survival is our passion.&nbsp;<br /></span></div>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><span style="color: #993399; font-size: small;">Hope to serve clients in an effective and transparent manner, while respecting business ethics.<br /></span></div>
<br>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><span style="color: #993399;"><span style="font-size: small;">Yours faithfully,</span></span><span style="color: #993399;"><span style="font-size: small;"><br /></span></span></div>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><strong><span style="color: #993399;"><span style="font-size: small;"><br /></span></span></strong></div>
<div class="ydpe410784fyiv8852035872moz-forward-container" style="text-align: justify;"><strong><span style="color: #993399;"><span style="font-size: small;">Obaidur Rahman&nbsp;</span></span></strong></div>    
    
        <marquee direction="up" onMouseOver="this.stop();" onMouseOut="this.start();">
            <span class="blink_text"><p><b> 
           		Happiness is lack of unhappiness  <br />
                the wise man is always happy <br />
                without misfortune, you will not understand happiness <br />
                there is no evil  that will not work out  <br />
                everything is fortunate if the alternative is death <br />
                think that you are happy and you will be </b></p>
            </span>
        </marquee>

	</div>
</div>

{% endblock %}