{% extends "ebase.html" %}
{% load static %}
{% static "images" as baseUrl %}



{% block content %}

	<style>
	#footer{
		position:fixed;
		bottom: 0px;
		padding-left: 121px;
	}
	</style>
<!-- Main -->
<div class="shell" style="border-top:#003366 10px solid;"></div>
<div id="main">
	<div class="shell">
	<h2>Contact</h2>	


		<!-- <strong>Contact Address</strong><br /> -->
        <b style="color:red;font-size: 15px;"> Dhaka Office : </b> <br/>
        <b style="color:blue">Head Office &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
        14/A, 31/A Tejkunipara, Concord Tower (10-D) Farmgate, Dhaka-1215</b><br/>
        <b style="color:blue">Corporate office  : 
        31 Malek Tower (3rd floor- 2nd lift) Farmgate, Dhaka, Bangladesh.  </b><br/>

        <b style="color:blue"> IP Phone &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;: +880 966670011 </b> <br/>
        <b style="color:blue"> Mobile  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: +88 01708524200 (Managing Director), </b> <b style="color:red;font-weight:bolder;font-size:15px;"> Whatsapp/ Imo/ Viber Number : +88 01911342308 </b><br/>
        <b style="color:blue"> E-mail   &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; : smtbangladesh@yahoo.com  <br/>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: md@globalvisamart.com<br/>

        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: obaidurrahman@gmail.com</b><br/>



            <b style="color:red;font-size: 15px;"> Chittagong Office :  </b><br/>

            <b style="color:blue">Walikhan mansion, 603 sk mujib road (3rd floor), Agrabad,Choumuhuni moar, chittagong </b><br/>

            <b style="color:red;font-size: 15px;"> Khulna Office : </b> <br/>
            <b style="color:blue;">Commercial Area, KRC more, Khulna </b><br/>



            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br />

            <br />

<br />
        </p>
	</div>
    </div>
<!-- End Main -->


{% endblock %}