{% extends "ebase.html" %}
{% load static %}
{% static "images" as baseUrl %}



{% block content %}
                
                



<div id="main_wrapper">


    <div class="our_vission_wrapper">

        <div class="our_mission_inner">

            <!-- <h2><strong>Our Mission</strong></h2> -->

            
            <p style="text-align:justify;color:black;padding:0px 0px 5px 0px;">We are a group of companies from Bangladesh who are engaged in Recruitment & Services Supply for Oil & Gas, Heavy Engineering, Marine, Construction as well as education, training and travel.
            </p>
            <p style="text-align:justify;color:black;padding:0px 0px 5px 0px;">
            Recognized as a professional International Manpower Consultants since 2001, we provide  personnel in all categories like:</p>
            </p>

            <ul style="color:black;text-align:justify;">
               <li> Professionals / Managers, Engineers, Superintendents, Supervisors /</li>
               <li> Skilled Technicians / Instrument, Electrical, DCS, BAS, MMS, HVAC, Maintenance, Operators, Cable Jointers etc / </li>
               <li> Skilled Trades / Welders, Scaffolds, Riggers, Electricians, Fabricators, Fitters, Machine Operators, Mechanics,<br/>&nbsp;&nbsp;&nbsp;&nbsp;Carpenters etc /</li>
               <li> Un-Skilled for wooden, meat industry, warehousing, agriculture etc.</li>
               <li style="padding:0 0 5px 0px;">students - close connections with California State University, Murray State University, Seattle State University / USA / Regina and British Columbia University / Canada / MM University / India /</li>
             
            </ul>
            
           <p style="color:black;padding:0px 0px 5px 0px;">
                Our sourcing countries are Bangladesh, India and Nepal, deployment countries Middle East, Europe for workers and USA, Canada, India for students.
            </p>
            <p style="color:black;padding:0px 0px 5px 0px;">
                 We are specialized in subcontracting for Europe  ie sending delegates on our payroll who render skilled services. Civil workers are mostly on Europeans payroll.
            </p>
            <p style="color:black;padding:0px 0px 5px 0px;">
                We have 4 associate firms in Bangladesh, 1 associate company Poland, some offices in Bangladesh including own training center in Dhaka and a foreign branches in Dubai and Lisbon.
            </p>
            <p style="color:black;padding:0px 0px 5px 0px;">
                 Our philosophy is to attract the best talents available and highly motivated candidates in quick possible time. We want not only to gain the trust of employers but, above all, not to lose it.<br />
            </p>
            <p style="color:black;padding:0px 0px 0px 0px;">
                As a result synergy between the employee's career excellence, equally rewarding remunaration and employers satisfaction is to be created.
            </p>
            <br />

            <div class="marquee_left_section">
                <!--<marquee align="left" behavior="scroll" direction="left" scrolldelay="35"><?php // foreach($gallert as $v){?>
                    <img src="<?php //echo base_url('uploads/company_logo/'.$v->images);?>" width="200px" height="150" /><?php //} ?> 
                </marquee> -->
                
                <marquee align="left" behavior="scroll" direction="left" scrolldelay="35">

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/1.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/2.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/3.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/4.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/5.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/6.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/7.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/8.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/9.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/10.png');?>" width="200px" height="150" />
                    
                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/11.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/12.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/13.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/14.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/15.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/16.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/17.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/18.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/19.png');?>" width="200px" height="150" />
                    
                     <img src="<?php echo base_url('outsite/css/images/Slide_Img/1.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/2.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/3.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/4.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/5.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/6.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/7.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/8.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/9.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/10.png');?>" width="200px" height="150" />
                    
                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/11.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/12.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/13.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/14.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/15.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/16.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/17.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/18.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/19.png');?>" width="200px" height="150" />
                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/1.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/2.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/3.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/4.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/5.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/6.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/7.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/8.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/9.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/10.png');?>" width="200px" height="150" />
                    
                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/11.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/12.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/13.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/14.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/15.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/16.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/17.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/18.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/19.png');?>" width="200px" height="150" />
                    
                     <img src="<?php echo base_url('outsite/css/images/Slide_Img/1.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/2.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/3.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/4.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/5.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/6.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/7.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/8.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/9.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/10.png');?>" width="200px" height="150" />
                    
                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/11.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/12.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/13.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/14.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/15.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/16.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/17.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/18.png');?>" width="200px" height="150" />

                    <img src="<?php echo base_url('outsite/css/images/Slide_Img/19.png');?>" width="200px" height="150" />

                </marquee>
                
            </div>

        </div>
    
   
        <!-- <div class="our_mission_inner">
            <h2><strong>Our Vision</strong></h2>
            <p> We are specialized in subcontracting for Europe  ie sending delegates on our payroll who render skilled services. Civil workers are mostly on Europeans payroll.We have  4 associate firms in Bangladesh  , 1 associate company Poland  ,  some offices in Bangladesh  incl own training center in Dhaka and a foreign branches  in Dubai and Lisbon .Our philosophy  is  to attract the best talents available  and highly motivated  candidates  in  quick possible time.We want not only to gain the trust of employers but, above all, not to lose it .As a result synergy between the employee's career excellence ,equally  rewarding remunaration and employers satisfaction is to be created.</p>
            <br />
            <div class="cl">&nbsp;</div>
        </div> -->
    
   
    <div class="our_mission_right_inner">
            <iframe width="306" height="200" src="outsite/vedio/gsl_visa.mp4" frameborder="0" allowfullscreen></iframe> <br/> <br/>
            <iframe width="306" height="200" src="outsite/vedio/uni_admission.mp4" frameborder="0" allowfullscreen></iframe> <br/>
            <!--<h2 align="center" style="color:blue;font-weight:bold;"><strong>Royal Bengal Tiger</strong></h2>
             <p><a href="#"><img src="<?php //echo base_url('outsite/css/images/a1.jpg');?>" /></a> </p> -->
            <p><a href="#"><img src="<?php //echo base_url('outsite/css/images/tiger_img.jpg');?>" /></a> </p>
            <br />
            <p><a href="#"><img src="<?php echo base_url('outsite/css/images/wwf.jpg');?>" /></a> </p>
            <br />
            <b style="font-weight: bolder;color:red;line-height:18px;">
              We shan't save all we should like to, but we shall save a great deal more than if we had never tried <span style="color:blue;"> -Sir Peter Scott</span>
            </b>
            <div class="cl">&nbsp;</div>

            <div class="marquee_right_section">
                 <!-- <h2><strong>Special Speech</strong></h2>
                 <p><a href="proftrain.html"><img src="<?php //echo base_url('outsite/css/images/iata_logo.jpg');?>" /></a> </p>
                 <span class="blink_text"><b> Happiness is lack of unhappiness. <br />
                      The wise man is always happy. <br />
                      Without misfortune, you will not understand happiness. <br />
                      There is no evil that will not work out . <br />
                      Everything is fortunate if the alternative is death. <br />
                      Think that you are happy and you will be. </b>
                </span> -->
                <br />
                <div class="cl">&nbsp;</div>
            </div>
        </div>
        
    </div>
     

  
</div>



{% endblock %}