{% extends "ebase.html" %}
{% load static %}
{% static "images" as baseUrl %}



{% block content %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- End Header -->

<div class="shell" style="border-top:#003366 10px solid;"></div>

<body>

	<div id="main">
		<div class="shell">
			<h2 style="text-align:center;color:blue;font-size: 19px;font-weight: 700;font-family: "Lucida Sans", Arial, sans-serif;}"> Our Profile</h2>	
        	<br />

			<!--<iframe src="<?php //echo base_url('uploads/profile/company profile.pdf');?>" width="100%" height="800px"></iframe> --> 

			<table class="table table-bordered table-hover">

				<tbody>

					<tr>
						<td style="width:300px;">Companies Name </td>
						<td>
						    Global Star Ltd (Govt Authorized) <br />
							<!-- Port City International Ltd (Recruitment Agency) <br />-->
							<!--  Sarail B Baria International (Recruitment Agency) <br /> -->
							NextAdmission.com (Student Recruitment agency) <br />
							<span style="color:blue;">GSL Training Institute (( Language and Professional Course Training)</span><br />
							<!-- Global Star Ltd, Lodz, Poland -->
						</td>
					</tr>

					<tr>
					    <td scope="row">Type of Company</td>
					    <td>Recruitment Agencies, Travel Agent and Consultancy.</td>
					</tr>

				    <tr>
					    <td>Managing Director</td>
					    <td>Obaidur Rahman </td>
				    </tr>

				    <tr>
				        <td>Director (Academic) <br/>
							Principal of Kazi Shafiqul Islam university College, in present position 
							</td>
				        <td>Kazi Shafiqur Rahman <br/>
				        MSS ( Dhaka University) </td>
				    </tr>

				    <!-- <tr>
				        <td>Akhtaruzzaman </td>
				        <td>Partner </td>
				    </tr>

				    <tr>
				        <td>Abdur Rahman </td>
				        <td>MD </td>
				    </tr>  -->

				    <tr>
				        <td>Director <br/>Finance  </td>
				        <td>Mizanur Rahman </td>
				    </tr>

				    <tr>
				        <td><span style="color:blue;">Head Office </span> </td>
				        <td><span style="color:blue;">Concord Tower (10-D), Farmgate, Dhaka-1215</span> </td>
				    </tr>

				    <!-- <tr>
				        <td>Offices </td>
				        <td>2 corporate offices and few branches in different cities.</td>
				    </tr> -->

				    <tr>
				        <td>Corporate office </td>
				        <td><span style="color:blue;">Dhaka office ( Country Capital city) </span> <br/>
				        	31 Malek tower ( 3th floor-2nd lift ) Farmgate, Dhaka, Bangladesh. <br/>
				        	Mobile: +880 1715015972 <br/>
				        	E-mail: smtbangladesh@yahoo.com 
				        	Skype: bdglobalstar 
                            Web: www.globalstar.com.bd
				        </td>
				    </tr>

				    <tr>
				        <td>Branch Chittagong  </td>
				        <td><!-- <span style="color:blue;"> Chittagong office : (Commercial Capital city)</span>-->
				        	
				        	Walikhan  mansion, 603 sk mujib road (3r d floor), Agrabad,Choumuhuni moar, chittagong <br/>
				        	Mobile:+880 1715015972 <br/>
				        	Email: info@globalstar.com.bd 
				        </td>
				    </tr>

				    <tr>
				        <td>Branch-3 </td>
				        <td><span style="color:blue;">Commercial Area, KRC more, Khulna  </span></td>
				    </tr>
				    
				    <!-- <tr>
				        <td>Branch-2 </td>
				        <td><span style="color:blue;">CDI More, New Market, Khulna</span></td>
				    </tr> -->

				 
				    <tr>
				        <td>Websites : 2</td>
				        <td>
				        	<span style="color:red;"> 
				        	    <a href="http://nextadmission.com/" target="_blank"> www.nextadmission.com</a> <br/>
				        	    <a href="http://globalvisamart.com" target="_blank"> www.globalvisamart.com</a>
				        	</span>
				        </td>
				    </tr>

				    <tr>
				        <td>Association Member</td>
				        <td>IATA, ATAB, BAIRA</td>
				    </tr>

				    <tr>
				        <td>Staffs </td>
				        <td>28</td>
				    </tr>

				    <tr>
				        <td> License Number </td>
				        <td><span style="color:blue;font-weight: bolder;">5187/28549</span><br/>
				        	RL-1718<br/>
				        	
				    </tr>

				    <tr>
				        <td><span style="color:blue;font-weight: bolder;">Tax Number </span></td>
				        <td><span style="color:blue;font-weight: bolder;">12-103-8875/S-40</span></td>
				    </tr>
				    <tr>
				        <td><span style="color:blue;font-weight: bolder;">VAT Number </span></td>
				        <td><span style="color:blue;font-weight: bolder;">9011116937</span></td>
				    </tr>

				     <tr>
				        <td>Account Details</td>
				        <td>Account name : Global Star Ltd <br/>
							Account Number: 1421779619001 <br/>
							Bank Name : City Bank <br/>
							Swift Code : CIBLBDDH <br/>
							Dhaka, Bangladesh. </td>
				    </tr>

				    <tr>
				        <td>Trained partner by </td>
				        <td>British Council Bangladesh as a Education Consultant. </td>
				    </tr>

				    <tr>
				        <td>Approved by </td>
				        <td>Bangladesh Government,<br/>
				        	Civil Aviation and Ministry,<br/>
				        	Bangladesh labor Ministry,<br/>
				        	Dhaka City Corporation. <br/>
				         </td>
				    </tr>

				    <tr>
				        <td>Training  </td>
				        <td>Our all Counselors are trained by British Council for recruiting.
				         </td>
				    </tr>

				     <tr>
				        <td>Yearly recruited workers  </td>
				        <td>More than 1000 people </td>
				    </tr>

				    <tr>
				        <td>Visa Success Rate  </td>
				        <td>97% to 100%</td>
				    </tr>

				    <tr>
				        <td>Our Services : </td>
				        <td>
				        	1. Help employers to find skilled and unskilled workers from South Asia.<br/>
							2. Help workers to find proper employers in different countries around the world.<br/>
							3. Help students to find perfect institutes.<br/>
							4. Help to process visa.<br/>
							5. Guide clients to reach in their target goal.<br/>
							6. Help worker to purchase ticket with competitive rate.<br/>
							7. Help students to find perfect institutes.<br/>
							8. Train job seekers to be prepared for work.<br/>
							9. Help workers to insure their salary signing contract with employers.<br/>
						</td>
				    </tr>

				    <tr>
				        <td>Type of work : </td>
				        <td>
				        	Employers can get all type or workers through us for any type of work.   
				        </td>
				    </tr>

				    <tr>
				        <td>Clients of Different Countries  : </td>
				        <td>
				        	1. Poland.<br/>
							2. Germany.<br/>
							3. India.<br/>
							4. UAE.<br/>
							5. Saudi Arab.<br/>
							6. Korea. <br/>
							7. South Africa.<br/>
							8. Maldives.<br/> 
							9. Croatia.<br/> 
							10. Portugal.<br/> 
							11. Serbia.<br/> 
				        </td>
				    </tr>

				</tbody>

			</table>

			
		</div>
    </div>

</body>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}