{% extends "ebase.html" %}
{% load static %}
{% static "images" as baseUrl %}



{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- End Header -->

<div class="shell" style="border-top:#003366 10px solid;"></div>

<body>

  <div id="main">
    <div class="shell">
      <h2 style="text-align:center;color:blue;font-size: 19px;font-weight: 700;font-family: "Lucida Sans", Arial, sans-serif;}"> OUR VISA PACKAGES</h2> 
          <br />

      <!--<iframe src="<?php //echo base_url('uploads/profile/company profile.pdf');?>" width="100%" height="800px"></iframe> --> 

      <table class="table table-bordered table-hover">

        <tbody style="font-weight: bolder;font-family: SutonnyMJ">

            <tr>
                <td style="width:500px;">ভারত (ভিসা প্রসেসিং) </td>
                <td style="width:250px;"> টাকা ১১০০/- </td>
                <!-- <td> ১ কর্ম দিবস </td> -->
            </tr>

            <tr>
                <td style="width:500px;">থাইল্যান্ড (স্টিকার ভিসা) </td>
                <td style="width:250px;"> টাকা ৪,৫০০/-  </td>
               <!-- <td> ৫ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">মালয়েশিয়া (স্টিকার ভিসা) </td>
                <td style="width:250px;"> টাকা ৫,৮০০/-  </td>
                <!-- <td> ৭ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">মালয়েশিয়া (ই-ভিসা) </td>
                <td style="width:250px;"> টাকা ৪,৫০০/-  </td>
                <!-- <td> ৩ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">সিঙ্গাপুর (ইনভাইটেশন ছাড়া) </td>
                <td style="width:250px;"> টাকা ২,৯৯৯/-  </td>
                <!-- <td> ৭ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:400px;">সিঙ্গাপুর (ইনভাইটেশন সহ) </td>
                <td style="width:250px;"> টাকা ৩,৯৯৯/-  </td>
               <!--  <td> ৭ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">কম্বোডিয়া </td>
                <td style="width:250px;"> টাকা ৪,০০০/-  </td>
                <!-- <td> ৭ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">শ্রীলাঙ্কা (ই-ভিসা) </td>
                <td style="width:250px;"> টাকা ৩,০০০/-  </td>
               <!--  <td> ৩ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">দুবাই (ইউএই-ভিসা ৯৬ ঘণ্টার ) </td>
                <td style="width:250px;">  </td>
               <!--  <td> ৫ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">দুবাই (ইউএই-ভিসা যে কোন এয়ারলাইন্সে ) </td>
                <td style="width:250px;">  </td>
               <!--  <td> ৭ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">দুবাই ৬০ দিনের ভিসা  (যে কোন ৪/৫ টি দেশ ভ্রমন থাকতে হবে ) </td>
                <td style="width:250px;"> টাকা ১১,৫০০/- </td>
               <!--  <td> ৭ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">দুবাই ৬০ দিনের ভিসা   (শর্ত প্রযোজ্য) </td>
                <td style="width:250px;"> টাকা ৯,৫০০/-  </td>
               <!--  <td> ৭ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">হংকং  (শুধুমাত্র হংকং আগে যাওয়া থাকলে এই ভিসা করা সম্ভব হবে ) </td>
                <td style="width:250px;"> টাকা ২৫,৫০০/-  </td>
               <!--  <td> ৫ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">ভিয়েতনাম  (এপ্রুভাল নির্ধারিত তারিখ সিঙ্গেল এন্ট্রি) </td>
                <td style="width:250px;"> টাকা ৩,৪০০/-  </td>
                <!-- <td>৭ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">ভিয়েতনাম  (স্টিকার নির্ধারিত তারিখ সিঙ্গেল এন্ট্রি) </td>
                <td style="width:250px;"> টাকা ৮,৮০০/-  </td>
                <!-- <td>১০ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">মিশর </td>
                <td style="width:250px;"> টাকা ৪,৫০০/-  </td>
               <!--  <td> ৭ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">তুরস্ক (ইনভাইটেশন ছাড়া)</td>
                <td style="width:250px;"> টাকা ৬,৫০০/-  </td>
              <!--   <td> ১৫ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">সাউথ আফ্রিকা  (টুরিস্ট ভিসা)</td>
                <td style="width:250px;"> টাকা ২৬,০০০/-   </td>
               <!--  <td> ২৫ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">সাউথ আফ্রিকা  (বিজনেস  ভিসা)</td>
                <td style="width:250px;"> টাকা ৩৫,৫০০/- </td>
             <!--    <td> ২৫ কর্ম দিবস আনুমানিক </td>> -->
            </tr>

            <tr>
                <td style="width:500px;">চায়না ভিসা (পূর্বে চায়না যাওয়া থাকতে হবে ) </td>
                <td style="width:250px;"> টাকা ৮৪০০/-  </td>
                <!--  <td>  </td>-->
            </tr>

            <tr>
                <td style="width:500px;">চায়না ভিসা (থাইল্যান্ড ,সিঙ্গাপুর, মালয়েশিয়া এর মত ৩ দেশ যাওয়া থাকতে হবে ) </td>
                <td style="width:250px;"> টাকা ৯,০০০/-   </td>
                <!--  <td>  </td>-->
            </tr>

            <tr>
                <td style="width:500px;">চায়না ভিসা (৬ মাসের এর ডাবল এন্ট্রী ভিসা)  </td>
                <td style="width:250px;"> টাকা ১০,৯৯৯/- (পূর্বে ১ বার চায়না যাওয়া থাকতে হবে)     </td>
               <!--   <td>  </td>-->
            </tr>

            <tr>
                <td style="width:500px;">চায়না ভিসা (১ বৎসর এর মাল্টীপল ভিসা )  </td>
                <td style="width:250px;"> টাকা ১৭,০০০/- (পূর্বে ২ বার চায়না যাওয়া থাকতে হবে)     </td>
              <!--    <td>  </td>-->
            </tr>

            <tr>
                <td style="width:500px;">চায়না ভিসা (২ বৎসর এর মাল্টীপল ভিসা )  </td>
                <td style="width:250px;"> টাকা ২৭,০০০/- (পূর্বে ১ বার ১ বৎসর এর মাল্টীপল ভিসা থাকতে হবে)     </td>
             <!--     <td>  </td>-->
            </tr>

            <tr>
                <td colspan="3">এছাড়া আমরা দিচ্ছি সকল দেশের আন্তর্জাতিক ও অভান্তরিন ১) বিমান টিকেট । ২) হোটেল বুকিং । ৩) ট্যুর প্যাকেজ । ৪) উমরাহ্ প্যাকেজ ।
                </td>
                
                
            </tr>
          
        </tbody>

      </table>

      <p style="font-family: arial;font-size:20px;font-weight: bolder;color:red;text-align: center;padding: 20px 0px 0px 0px;">HOTLINE: 01715015972, 01780300059</p>

      
    </div>
    </div>

</body>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}